table, th, td {
    border: 1px solid;
  }

table {
    width: 50%;
}

th {
    background-color: #fbff8b;
    }

.Senin{
    background-color: #ff7bf8;
    }

.Selasa{
    background-color: #16cdaf;
    }

.Rabu{
    background-color: #8bc7f0;
}